<form [formGroup]="logData">
    <div class="data1">
        <mat-form-field appearance="outline">
            <input matInput placeholder="email" formControlName="logemail">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput placeholder="Password" type = "password" formControlName="logpassword">
        </mat-form-field>

        <button mat-raised-button (click)="login()" color="primary">Login</button>
    </div>
    Don't have an account ? <a href="https://localhost:4200/register"> Click to register</a>

</form>


<!--<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Password" [(ngModel)]="password" type="password"
                                name="password" required>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </form>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="login()" color="primary">Login</button>
    </mat-card-actions>
</mat-card>-->