<table mat-table [dataSource]="auctionData" class="mat-elevation-z8">

  <ng-container matColumnDef="firstBid">
    <th mat-header-cell *matHeaderCellDef>First Bid</th>
    <td mat-cell *matCellDef="let auction"> {{auction.firstBid}} </td>
  </ng-container>

  <ng-container matColumnDef="noOfBids">
    <th mat-header-cell *matHeaderCellDef># of bids</th>
    <td mat-cell *matCellDef="let auction"> {{auction.noOfBids}} </td>
  </ng-container>

  <ng-container matColumnDef="startTime">
    <th mat-header-cell *matHeaderCellDef>Start time</th>
    <td mat-cell *matCellDef="let auction"> {{auction.startTime}} </td>
  </ng-container>

  <ng-container matColumnDef="currentBid">
    <th mat-header-cell *matHeaderCellDef>Current bid</th>
    <td mat-cell *matCellDef="let auction"> {{auction.currentBid}} </td>
  </ng-container>

  <ng-container matColumnDef="buyPrice">
    <th mat-header-cell *matHeaderCellDef>Buy price</th>
    <td mat-cell *matCellDef="let auction"> {{auction.buyPrice}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<a href="https://localhost:4200/newAuction">Create a new Auction</a>