html,
body {
  height: 100vh;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.full-width {
  width: 100%;
}

.table-box {
  width: 100%;
  padding: 15px;
  margin: 0 auto;
  border: 1px solid transparent;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  font-weight: 400;
  border-radius: 2rem;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  height: 750px;
}
