<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li *ngIf="bool2" class="nav-item">
          <button class="btn text-light" (click) = "GoToProfile()">Profile</button>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/viewAuction">Browse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li *ngIf="bool1" class="nav-item">
          <a class="nav-link" routerLink="/login">Sign in</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="welcome-text center">
      <h1>Welcome to our site!</h1>
      <p class="lead text-white"><a class="text-dark font-weight-normal" routerLink="/viewAuction" >Browse</a> auctions as a guest.</p>
      <p class="lead text-white">You can register <a class="text-dark font-weight-normal" routerLink="/register" >here</a>, <br>or <a class="text-dark font-weight-normal" routerLink="/login" >sign in</a> if you already have an account.</p>
    </div>
  </div>
</body>

<!--<p>Welcome !</p>
<script>
    import { CookieService } from 'ngx-cookie-service';
    window.addEventListener('unload', function(event) {
    cookieService.deleteAll();;
    });
  </script>
<div>
    <a [routerLink]="'/register'">Register as a user</a>

</div>

<div>
    <a [routerLink]="'/login'">Log in if you are already registered and approved</a>
</div>

<div>
    <a [routerLink]="'/viewAuction'">Browse the auctions as a guest</a>
</div>-->
