<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/">Home</a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <button class="btn text-light" routerLink="/viewAuction">Browse</button>
          <button class="btn text-light" (click)="logout()">Sign out</button>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">

              <li class="nav-item">
                <div class="nav-link active">Dashboard</div>
              </li>
              <li class="nav-item">
                <button class="btn with-icon" (click)="viewUserInfo()">
                  <mat-icon>account_circle</mat-icon>My Info
                </button>
              </li>
              <li class="nav-item">
                <button class="btn with-icon" (click)="viewAuctions()">
                  <mat-icon>shopping_cart</mat-icon>My Auctions
                </button>
              </li>
              <li class="nav-item">
                <button class="btn with-icon" (click)="newAuctionButton()">
                  <mat-icon>add_shopping_cart</mat-icon>Create Auction
                </button>
              </li>

              <li class="nav-item">
                <div class="nav-link active">Messages</div>
              </li>
              <li class="nav-item">
                <button class="btn with-icon" (click)="viewInbox()">
                  <mat-icon>mail</mat-icon>Inbox
                </button>
              </li>
              <li class="nav-item">
                <button class="btn with-icon" (click)="viewSent()">
                  <mat-icon>send</mat-icon>Sent
                </button>
              </li>
            </ul>
          </div>
        </nav>

        <main [hidden]='bool1' role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">My Info</h1>
          </div>

          <div class="table-responsive">
            <table mat-table [dataSource]="userData" class="mat-elevation-z8 full-width">

              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>E-mail</th>
                <td mat-cell *matCellDef="let user"> {{user.email}} </td>
              </ng-container>

              <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef>Username</th>
                <td mat-cell *matCellDef="let user"> {{user.username}} </td>
              </ng-container>

              <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef>First name</th>
                <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
              </ng-container>

              <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef>Last name</th>
                <td mat-cell *matCellDef="let user"> {{user.lastName}} </td>
              </ng-container>

              <ng-container matColumnDef="phoneNumber">
                <th mat-header-cell *matHeaderCellDef>Phone Number</th>
                <td mat-cell *matCellDef="let user"> {{user.phoneNumber}} </td>
              </ng-container>

              <ng-container matColumnDef="afm">
                <th mat-header-cell *matHeaderCellDef>AFM</th>
                <td mat-cell *matCellDef="let user"> {{user.afm}} </td>
              </ng-container>

              <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef>Address</th>
                <td mat-cell *matCellDef="let user"> {{user.address}} </td>
              </ng-container>

              <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef>Location</th>
                <td mat-cell *matCellDef="let user"> {{user.location}} </td>
              </ng-container>

              <ng-container matColumnDef="country">
                <th mat-header-cell *matHeaderCellDef>Country</th>
                <td mat-cell *matCellDef="let user"> {{user.country}} </td>
              </ng-container>

              <ng-container matColumnDef="rating">
                <th mat-header-cell *matHeaderCellDef>Rating</th>
                <td mat-cell *matCellDef="let user"> {{user.rating}}/5 </td>
              </ng-container>

              <ng-container matColumnDef="approved">
                <th mat-header-cell *matHeaderCellDef>Approved</th>
                <td mat-cell *matCellDef="let user"> {{user.approved}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>

        </main>

        <main [hidden]='bool2' role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">My Auctions</h1>
          </div>

          <div class="table-responsive">
            <table mat-table [dataSource]="auctionData" class="mat-elevation-z8 full-width">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Item</th>
                <td mat-cell *matCellDef="let auction"> {{auction.name}} </td>
              </ng-container>
              <ng-container matColumnDef="firstBid">
                <th mat-header-cell *matHeaderCellDef>First Bid €</th>
                <td mat-cell *matCellDef="let auction"> {{auction.firstBid}} </td>
              </ng-container>
              <ng-container matColumnDef="noOfBids">
                <th mat-header-cell *matHeaderCellDef># of bids</th>
                <td mat-cell *matCellDef="let auction"> {{auction.numberOfBids}} </td>
              </ng-container>
              <ng-container matColumnDef="endTime">
                <th mat-header-cell *matHeaderCellDef>End time</th>
                <td mat-cell *matCellDef="let auction"> {{(auction.ends | date:'medium') || 'None'}} </td>
              </ng-container>
              <ng-container matColumnDef="currentBid">
                <th mat-header-cell *matHeaderCellDef>Current bid €</th>
                <td mat-cell *matCellDef="let auction"> {{auction.currently}} </td>
              </ng-container>
              <ng-container matColumnDef="buyPrice">
                <th mat-header-cell *matHeaderCellDef>Buy price €</th>
                <td mat-cell *matCellDef="let auction"> {{auction.buyPrice || 'None'}} </td>
              </ng-container>
              <ng-container matColumnDef="started">
                <th mat-header-cell *matHeaderCellDef>Started</th>
                <td mat-cell *matCellDef="let auction"> {{(auction.started | date:'medium') || 'Not yet'}} </td>
              </ng-container>
              <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let auction">
                  <button class="btn btn-primary" (click)="view(auction)">View</button>
                </td>
              </ng-container>
              <ng-container matColumnDef="start">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let auction">
                  <button *ngIf='(auction.started === null)' class="btn btn-primary" data-toggle="modal" data-target="#Modal" (click)="start(auction)">Start</button>
                </td>
              </ng-container>
              <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let auction">
                  <button *ngIf="!auction.numberOfBids" class="btn btn-secondary" (click)="edit(auction)">Edit</button>
                </td>
              </ng-container>
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let auction">
                  <button *ngIf="!auction.numberOfBids" class="btn btn-danger" (click)="delete(auction)">Delete</button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumnsAuction; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsAuction;"></tr>
            </table>
            <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[1, 5, 25, 100]">
            </mat-paginator>
          </div>

          <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Choose when the auction will end</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="timeData" (ngSubmit)="onEndTimeSubmit()" class="form">
                    <div class="form-row">
                      <div class="form-group col">
                        <input type="date" placeholder="Choose a date" formControlName="date" class="form-control" [ngClass]="{ 'is-invalid': submitted && fControls.date.errors }" />
                        <div *ngIf="submitted && fControls.date.errors" class="invalid-feedback">
                          <div *ngIf="fControls.date.errors.required">Date is required</div>
                        </div>
                      </div>
                      <div class="form-group col">
                        <input type="time" placeholder="Time" formControlName="time" class="form-control" [ngClass]="{ 'is-invalid': submitted && fControls.time.errors }" />
                        <div *ngIf="submitted && fControls.time.errors" class="invalid-feedback">
                          <div *ngIf="fControls.time.errors.required">Time is required</div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <mat-divider></mat-divider>

          <!--
          <div *ngIf='bool4' class="table-responsive">
            <table mat-table [dataSource]="smAuction" class="mat-elevation-z8 full-width">

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Item</th>
                <td mat-cell *matCellDef="let auction"> {{auction.name}} </td>
              </ng-container>

              <ng-container matColumnDef="desc">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let auction"> {{auction.description}} </td>
              </ng-container>

              <ng-container matColumnDef="categories">
                  <th mat-header-cell *matHeaderCellDef>Categories</th>
                  <td mat-cell *matCellDef="let auction"> {{auction.category}} </td>
                </ng-container>

              <ng-container matColumnDef="currentBid">
                <th mat-header-cell *matHeaderCellDef>Current bid €</th>
                <td mat-cell *matCellDef="let auction"> {{auction.currently}} </td>
              </ng-container>

              <ng-container matColumnDef="noOfBids">
                <th mat-header-cell *matHeaderCellDef># of bids</th>
                <td mat-cell *matCellDef="let auction"> {{auction.numberOfBids}} </td>
              </ng-container>

              <ng-container matColumnDef="buyPrice">
                <th mat-header-cell *matHeaderCellDef>Buy price €</th>
                <td mat-cell *matCellDef="let auction"> {{auction.buyPrice || 'None'}} </td>
              </ng-container>

              <ng-container matColumnDef="firstBid">
                <th mat-header-cell *matHeaderCellDef>First Bid €</th>
                <td mat-cell *matCellDef="let auction"> {{auction.firstBid}} </td>
              </ng-container>

              <ng-container matColumnDef="seller">
                <th mat-header-cell *matHeaderCellDef>Seller</th>
                <td mat-cell *matCellDef="let auction"> {{auction.seller.username}} </td>
              </ng-container>

              <ng-container matColumnDef="sellerRat">
                <th mat-header-cell *matHeaderCellDef>Seller's rating</th>
                <td mat-cell *matCellDef="let auction"> {{auction.seller.rating}} </td>
              </ng-container>

              <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef>Location</th>
                <td mat-cell *matCellDef="let auction"> {{auction.location}} </td>
              </ng-container>

              <ng-container matColumnDef="country">
                <th mat-header-cell *matHeaderCellDef>Country</th>
                <td mat-cell *matCellDef="let auction"> {{auction.country}} </td>
              </ng-container>

              <ng-container matColumnDef="startTime">
                <th mat-header-cell *matHeaderCellDef>Start time</th>
                <td mat-cell *matCellDef="let auction"> {{auction.started | date:'medium'}} </td>
              </ng-container>

              <ng-container matColumnDef="endTime">
                <th mat-header-cell *matHeaderCellDef>End time</th>
                <td mat-cell *matCellDef="let auction"> {{auction.ends | date:'medium'}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns4; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns4;"></tr>
            </table>
          </div>
          -->
        </main>

        <main [hidden]='bool3' role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Inbox</h1>
          </div>

          <div class="table-responsive">
            <table mat-table [dataSource]="receivedMessages" class="mat-elevation-z8 full-width">
              <ng-container matColumnDef="sender">
                <th mat-header-cell *matHeaderCellDef>Sender</th>
                <td mat-cell *matCellDef="let message"> {{message.sender}} </td>
              </ng-container>
              <ng-container matColumnDef="receiver">
                <th mat-header-cell *matHeaderCellDef>Receiver</th>
                <td mat-cell *matCellDef="let message"> {{message.receiver}} </td>
              </ng-container>
              <ng-container matColumnDef="message">
                <th mat-header-cell *matHeaderCellDef>Message</th>
                <td mat-cell *matCellDef="let message"> {{message.message}} </td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let message">
                  <button class="btn btn-danger" (click)="deleteMessage(message)">Delete</button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumnsMessage; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsMessage;"></tr>
            </table>
          </div>

        </main>

        <main [hidden]='bool4' role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Sent</h1>
          </div>

          <div class="table-responsive">
            <table mat-table [dataSource]="sentMessages" class="mat-elevation-z8 full-width">
              <ng-container matColumnDef="sender">
                <th mat-header-cell *matHeaderCellDef>Sender</th>
                <td mat-cell *matCellDef="let message"> {{message.sender}} </td>
              </ng-container>
              <ng-container matColumnDef="receiver">
                <th mat-header-cell *matHeaderCellDef>Receiver</th>
                <td mat-cell *matCellDef="let message"> {{message.receiver}} </td>
              </ng-container>
              <ng-container matColumnDef="message">
                <th mat-header-cell *matHeaderCellDef>Message</th>
                <td mat-cell *matCellDef="let message"> {{message.message}} </td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let message">
                  <button class="btn btn-danger" (click)="deleteMessage(message)">Delete</button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumnsMessage; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsMessage;"></tr>
            </table>
          </div>

        </main>
      </div>
    </div>
</body>


<!--
<div *ngIf='showEndTimeForm'>
  <form [formGroup]="timeData" (ngSubmit)="onEndTimeSubmit()" class="form">
    <mat-form-field class="half-width">
      <input matInput type="date" placeholder="Choose a date" formControlName="date">
      <mat-error *ngIf="bool4">Date is required</mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
      <input matInput type="time" placeholder="Time" formControlName="time">
      <mat-error *ngIf="bool5">Time is required</mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary">Select end time</button>
  </form>
</div>

<mat-tab-group color="primary">
  <mat-tab label="User info">
    <table mat-table [dataSource]="userData" class="mat-elevation-z8">

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>E-mail</th>
        <td mat-cell *matCellDef="let user"> {{user.email}} </td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let user"> {{user.username}} </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>First name</th>
        <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Last name</th>
        <td mat-cell *matCellDef="let user"> {{user.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef>Phone Number</th>
        <td mat-cell *matCellDef="let user"> {{user.phoneNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="afm">
        <th mat-header-cell *matHeaderCellDef>AFM</th>
        <td mat-cell *matCellDef="let user"> {{user.afm}} </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let user"> {{user.address}} </td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef>Location</th>
        <td mat-cell *matCellDef="let user"> {{user.location}} </td>
      </ng-container>

      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef>Country</th>
        <td mat-cell *matCellDef="let user"> {{user.country}} </td>
      </ng-container>

      <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef>Rating</th>
        <td mat-cell *matCellDef="let user"> {{user.rating}}/5 </td>
      </ng-container>

      <ng-container matColumnDef="approved">
        <th mat-header-cell *matHeaderCellDef>Approved</th>
        <td mat-cell *matCellDef="let user"> {{user.approved}} </td>
      </ng-container>

      <ng-container matColumnDef=" ">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let user">
          <button *ngIf = 'showApproveButton' mat-raised-button (click)="onClick()">Approve User</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-divider></mat-divider>
  </mat-tab>
  <mat-tab label="User Auctions">
    <table mat-table [dataSource]="auctionData" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Item</th>
        <td mat-cell *matCellDef="let auction"> {{auction.name}} </td>
      </ng-container>
      <ng-container matColumnDef="firstBid">
        <th mat-header-cell *matHeaderCellDef>First Bid €</th>
        <td mat-cell *matCellDef="let auction"> {{auction.firstBid}} </td>
      </ng-container>
      <ng-container matColumnDef="noOfBids">
        <th mat-header-cell *matHeaderCellDef># of bids</th>
        <td mat-cell *matCellDef="let auction"> {{auction.numberOfBids}} </td>
      </ng-container>
      <ng-container matColumnDef="endTime">
        <th mat-header-cell *matHeaderCellDef>End time</th>
        <td mat-cell *matCellDef="let auction"> {{(auction.ends | date:'medium') || 'None'}} </td>
      </ng-container>
      <ng-container matColumnDef="currentBid">
        <th mat-header-cell *matHeaderCellDef>Current bid €</th>
        <td mat-cell *matCellDef="let auction"> {{auction.currently}} </td>
      </ng-container>
      <ng-container matColumnDef="buyPrice">
        <th mat-header-cell *matHeaderCellDef>Buy price €</th>
        <td mat-cell *matCellDef="let auction"> {{auction.buyPrice || 'None'}} </td>
      </ng-container>
      <ng-container matColumnDef="started">
        <th mat-header-cell *matHeaderCellDef>Started</th>
        <td mat-cell *matCellDef="let auction"> {{(auction.started | date:'medium') || 'Not yet'}} </td>
      </ng-container>
      <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let auction">
          <button mat-raised-button color="primary" (click)="view(auction)">View</button>
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let auction">
          <button *ngIf='(auction.started === null)' mat-button color="primary" (click)="start(auction)">Start</button>
          <button *ngIf="!auction.numberOfBids" mat-button color="primary" (click)="edit(auction)">Edit</button>
          <button *ngIf="!auction.numberOfBids" mat-button color="warn" (click)="delete(auction)">Delete</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsAuction; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsAuction;"></tr>
    </table>
    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[1, 5, 25, 100]">
    </mat-paginator>
    <mat-divider></mat-divider>
  </mat-tab>
  <mat-tab label="Messages">
    <h2>Inbox</h2>
    <table mat-table [dataSource]="receivedMessages" class="mat-elevation-z8">
      <ng-container matColumnDef="sender">
        <th mat-header-cell *matHeaderCellDef>Sender</th>
        <td mat-cell *matCellDef="let message"> {{message.sender}} </td>
      </ng-container>
      <ng-container matColumnDef="receiver">
        <th mat-header-cell *matHeaderCellDef>Receiver</th>
        <td mat-cell *matCellDef="let message"> {{message.receiver}} </td>
      </ng-container>
      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef>Message</th>
        <td mat-cell *matCellDef="let message"> {{message.message}} </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let message">
          <button mat-button color="warn" (click)="deleteMessage(message)">Delete</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsMessage; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsMessage;"></tr>
    </table>

    <br><br>

    <h2>Sent</h2>
    <table mat-table [dataSource]="sentMessages" class="mat-elevation-z8">
      <ng-container matColumnDef="sender">
        <th mat-header-cell *matHeaderCellDef>Sender</th>
        <td mat-cell *matCellDef="let message"> {{message.sender}} </td>
      </ng-container>
      <ng-container matColumnDef="receiver">
        <th mat-header-cell *matHeaderCellDef>Receiver</th>
        <td mat-cell *matCellDef="let message"> {{message.receiver}} </td>
      </ng-container>
      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef>Message</th>
        <td mat-cell *matCellDef="let message"> {{message.message}} </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let message">
          <button mat-button color="warn" (click)="deleteMessage(message)">Delete</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsMessage; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsMessage;"></tr>
    </table>
    <mat-divider></mat-divider>
  </mat-tab>
</mat-tab-group>




<button mat-raised-button color="primary" (click)="newAuctionButton()">Create New Auction</button>
<button mat-raised-button color="primary" routerLink="/viewAuction">Browse Auctions</button>
<button mat-raised-button (click)="logout()">Logout</button>
-->
