Enter your data to register

<form [formGroup]="regData" (ngSubmit)="onSumbit()">

    <div class="data1">
        <mat-form-field appearance="outline">
            <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput placeholder="Username" formControlName="username">
        </mat-form-field>
    </div>


    <div class="data2">
        <mat-form-field appearance="outline">
            <input matInput placeholder="Password" type="password" formControlName="password">
            <mat-hint>6-16 characters</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput placeholder="Confirm password " type="password" formControlName="passwordConfirm">
        </mat-form-field>
    </div>


    <div class="data3">
        <mat-form-field appearance="outline">
            <input matInput placeholder="First name" formControlName="firstName">
            <mat-hint>1-25 characters</mat-hint>

        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput placeholder="Last name" formControlName="lastName">
            <mat-hint>1-25 characters</mat-hint>
        </mat-form-field>
    </div>


    <div class="data4">
        <mat-form-field appearance="outline">
            <input matInput placeholder="Phone number" formControlName="phoneNumber">
            <mat-hint>10 digits</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput placeholder="Address" formControlName="address">
        </mat-form-field>
    </div>

    <div class=data5>
        <mat-form-field appearance="outline">
            <input matInput placeholder="Location" formControlName="location">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput placeholder="Country" formControlName="country">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput placeholder="afm" formControlName="afm">
        </mat-form-field>
    </div>


    <button type="submit" [disabled]="!regData.valid">Submit</button>

</form>